.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  width: 100vw;
  height: 60px;
  background-color: transparent;
}

.item {
}

.item:hover {
  /* background-color: antiquewhite; */
  /* border-radius: 8px; */
  /* border: 1px solid lightsalmon; */
  padding: 3px;
  text-decoration-line: underline;
}

.link {
  color: black;
}

.link:hover {
  color: lightsalmon;
}
